<div class="container">
  <aside>
    <p>User Management</p>
    <button (click)="toggleAddUserForm()">
      <i class="fa fa-user-o" aria-hidden="true"></i>
      Add User
    </button>
    <button (click)="toggleEditUserForm()">
      <i class="fa fa-user-o" aria-hidden="true"></i>
      Edit/Delete User
    </button>
  </aside>

  <div class="main-content">
    <div class="user-grid" *ngIf="showEditUserForm">
      <div class="user-card" *ngFor="let user of userList">
        <div class="user-info">
          <h3>{{ user.username }}</h3>
          <p>{{ user.email }}</p>
          <p>{{ user.role }}</p>
          <div class="user-meta">
            <span class="created-at"><i class="fa fa-clock-o"></i> {{ user.createdAt | date }}</span>
          </div>
        </div>
        <div class="user-actions">
          <button class="edit-btn" (click)="editUser(user)"><i class="fa fa-edit"></i></button>
          <button class="delete-btn" (click)="deleteUser(user.userID)"><i class="fa fa-trash"></i></button>
        </div>
      </div>
    </div>

    <div *ngIf="showAddUserForm" class="form-container">
      <form (ngSubmit)="createUser()">
        <h3>Add User</h3>
        <label for="username">Username:</label>
        <input id="username" [(ngModel)]="newUser.username" name="username" required>

        <label for="passwordHash">Password:</label>
        <input id="passwordHash" [(ngModel)]="newUser.passwordHash" name="passwordHash" required>

        <label for="email">Email:</label>
        <input id="email" [(ngModel)]="newUser.email" name="email" required>

        <label for="role">Role:</label>
        <select id="role" [(ngModel)]="newUser.role" name="role" required>
          <option *ngFor="let role of UserRole | keyvalue" [value]="role.value">{{ role.value }}</option>
        </select>

        <button type="submit">Add User</button>
      </form>
    </div>

    <div *ngIf="showEditUserForm" class="form-container">
      <form (ngSubmit)="updateUser()">
        <h3>Edit User</h3>
        <label for="editUsername">Username:</label>
        <input id="editUsername" [(ngModel)]="userUpdate.username" name="editUsername" required>

        <label for="editPasswordHash">Password:</label>
        <input id="editPasswordHash" [(ngModel)]="userUpdate.passwordHash" name="editPasswordHash" required>

        <label for="editEmail">Email:</label>
        <input id="editEmail" [(ngModel)]="userUpdate.email" name="editEmail" required>

        <label for="editRole">Role:</label>
        <select id="editRole" [(ngModel)]="userUpdate.role" name="editRole" required>
          <option *ngFor="let role of UserRole | keyvalue" [value]="role.value">{{ role.value }}</option>
        </select>

        <button type="submit">Update User</button>
        <button type="button" (click)="cancelEdit()">Cancel</button>
      </form>
    </div>
  </div>
</div>
