.manager-container {
    padding: 50px 20px; /* Adjusted padding for better spacing */
  }
  
  .manager-heading {
    background-color: #343a40;
    color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-bottom: 30px;
  }
  
  .manager-heading .material-icons {
    font-size: 3rem;
    vertical-align: middle;
    margin-right: 10px;
  }
  
  .manager-heading h2 {
    font-size: 2.5rem;
    margin: 0;
    display: inline-block;
    vertical-align: middle;
  }

  .card {
    background-color: #f8f9fa;
    color: #343a40;
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
    height: 100%; /* Ensures cards fill height */
  }
  
  .card:hover {
    transform: translateY(-5px); /* Slight hover effect */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .card-title {
    font-size: 1.5rem;
    margin-top: 10px;
  }
  
  .btn-light {
    color: #ffffff;
    background-color: #343a40;
    border-color: #343a40;
    font-size: 1rem;
    padding: 10px 20px;
    border-radius: 25px;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .btn-light:hover {
    background-color: #e9ecef;
    color: #343a40;
  }
  
  @media (max-width: 992px) {
    .card-title {
      font-size: 1.2rem;
    }
    .material-icons {
      font-size: 2.5rem;
    }
  }
  
  @media (max-width: 768px) {
    .manager-heading h2 {
      font-size: 2rem;
    }
  }