/* admin-dashboard.css */

section {
    background-color: #f7f7f7;
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    margin-top: 0;
  }
  
  app-course-management,
  app-batch-management,
  app-user-management,
  app-report {
    padding: 20px;
  }
  
  /* Add some spacing between sections */
  section + section {
    margin-top: 20px;
  }