/* Global styles */
body {
    background-color: #333; /* Dark gray background */
    font-family: Arial, sans-serif;
  }
  
  /* Container styles */
  .container {
    max-width: 1200px;
    margin: 40px auto;
    padding: 20px;
    background-color: #444; /* Dark gray background for container */
    border: 1px solid #555;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    color: white;
  }
  
  /* Row styles */
  .row {
    margin-bottom: 20px;
  }
  
  /* Column styles */
  .col-md-6 {
    padding: 20px;
  }
  
  /* Header styles */
  h1, h2 {
    color: #fff; /* White text for headers */
    margin-bottom: 10px;
  }
  
  h1 {
    font-size: 24px;
  }
  
  h2 {
    font-size: 18px;
  }
  
  /* Form styles */
  form {
    background-color: #444; /* Dark gray background for form */
    padding: 20px;
    border: 1px solid white;
    border-radius: 10px;
    color:white;
  }
  
  /* Input field styles */
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-control {
    background-color: #555; /* Dark gray background for input fields */
    border: 1px solid white;
    border-radius: 5px;
    padding: 10px;
    color: #fff; /* White text */
  }
  
  /* Button styles */
  .btn {
    background-color: #2ECC40; /* Green background for buttons */
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    color: #fff; /* White text */
    cursor: pointer;
    
    
  }
  .button-container {
    display: flex;
    justify-content: flex-start;
    gap: 10px; /* Adjust the gap as needed */
  }
  
  .create-btn,
  .edit-btn,
  .delete-btn {
    margin-right: 10px; /* Adjust the right margin as needed */
  }
  .enroll-section {
    margin-top: 13%; /* Adjust margin top as needed */
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #444 ;
    color: white;
  } 
  
  .btn:hover {
    background-color: #2ECC40; /* Lighter green background on hover */
  }
  
  /* Enroll button styles */
  .enroll-btn {
    background-color: #2ECC40; /* Yellow-green background for enroll button */
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    color: #fff; /* White text */
    cursor: pointer;
  }
  
  .enroll-btn:hover {
    background-color: #2ECC40; /* Lighter yellow-green background on hover */
  }
  .batch-form,
  .enroll-form {
    border: 1px solid #ccc;
    padding: 20px;
    background-color: #f9f9f9;
  }
  .batch-form .form-group,
.enroll-form .form-group {
  margin-bottom: 15px;
}
.batch-form {
  border: 1px solid #ccc;
  padding: 20px;
  background-color: #444;
  border-radius: 5px; /* Rounded corners */
}