<div class="container">
  <aside>
    <p>Course Management</p>
    <button (click)="toggleAddBatchForm()">
      <i class="fa fa-user-o" aria-hidden="true"></i>
      Add Batch
    </button>
    <button >
      <i class="fa fa-user-o" aria-hidden="true"></i>
      Edit Batch
    </button>
    <button >
      <i class="fa fa-user-o" aria-hidden="true"></i>
      Delete Batch
    </button>
    <button (click)="toggleAddEnrollEmployeeForm()">
      <i class="fa fa-user-o" aria-hidden="true"></i>
      Enroll Employee
    </button>
    
  </aside>

  <div class="main-content">
    <div  *ngIf="showAddBatchForm || showAddEnrollEmployeeForm" class="form-container">
      <form *ngIf="showAddBatchForm" (ngSubmit)="createBatch()">
        <label for="batchName">Batch Name:</label>
        <input id="batchName" [(ngModel)]="newBatch.batchName" name="batchName" required>

        <label for="coursecalendaId">Course CalendarId:</label>
        <input id="courseDescription" [(ngModel)]="newBatch.coursecalendarId" name="coursecalendarId" required>

        <label for="batchTutortutor">Tutor:</label>
        <input id="batchTutor" type="string" [(ngModel)]="newBatch.batchTutor" name="batchTutor" required>

        <button type="submit">Add Batch</button>
      </form>

      <form *ngIf="showAddEnrollEmployeeForm" (ngSubmit)="enrollEmployee()">
        <label for="selectedEmployeeId">Employee Id:</label>
        <input type="number" class="form-control" id="selectedEmployeeId" [(ngModel)]="selectedEmployeeId" name="selectedEmployeeId" required>
        
        <label for="selectedBatchId">Batch Id:</label>
        <input type="number" class="form-control" id="selectedBatchId" [(ngModel)]="selectedBatchId" name="selectedBatchId" required>
    
        <button type="submit">Enroll Employee</button>
    </form>
    
    </div>
  </div>
</div>
